-
  const links = [
    { icon: 'img/icons/ProjectsIcon.svg', href: '/projects.html', title: 'Проекты' },
    { icon: 'img/icons/SlidersIcon.svg', href: '/sliders.html', title: 'Слайдер' },
    { icon: 'img/icons/FleetIcon.svg', href: '/fleet.html', title: 'Наш флот' },
    { icon: 'img/icons/NewsIcon.svg', href: '/news.html', title: 'Новости' },
    { icon: 'img/icons/PartnersIcon.svg', href: '/partners.html', title: 'Партнёры' },
    { icon: 'img/icons/CertificatesIcon.svg', href: '/certificates.html', title: 'Сертификаты' },
    { icon: 'img/icons/ContactsIcon.svg', href: '/contacts.html', title: 'Контакты' },
    { icon: 'img/icons/SettingsIcon.svg', href: '/settings.html', title: 'Настройки' },
  ]

header.header
  .header__wrap
    .header__logo
      img(src="img/logo.svg" alt="Logo")
    .header__logo_minimized
      img(src="img/logo-minimized.svg" alt="Logo minimized")
    .header__links-wrap
      ul.header__links-list
        each link in links
          li.header__link-item
            a.header__link(href=link.href)
              img(src=link.icon alt="Link icon")
              span #{link.title}
    .header__collapse
      img(src="img/icons/HeaderArrow.svg" alt="Collapse")
      span Скрыть
