#login-page {
  .login-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-wrap {
    position: absolute;
    top: -200px;
    left: 15px;
    right: 15px;
  }

  .section-title {
    font-family: $museo;
    font-size: 64px;
    margin-bottom: 32px;
    text-align: center;
  }

  form {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
  }

  .form-control {
    padding: 0 20px;
    width: 100%;
    max-width: 220px;
    margin-bottom: 15px;
    height: 50px;
    font-family: $museo-300;
    color: $black;
    border-radius: 6px;
    background-color: #ffffff;
    border: none;

    &::placeholder {
      color: $gray;
      font-size: 16px;
    }
  }
}
