#news-page {
  .table {
    &__text {
      max-width: 270px;
      
      p {
        white-space: unset;
        text-overflow: unset;
        overflow: visible;
      }
    }
  }
}

#news-create-page {
  .inputs {
    &__photo-preview {
      &_big {
        height: 255px;
      }
    }
  }
}
