/* FONTS */
$museo-100: 'Museo Sans Cyrl 100';
$museo-300: 'Museo Sans Cyrl 300';
$museo: 'Museo Sans Cyrl 500';
$museo-700: 'Museo Sans Cyrl 700';
$museo-900: 'Museo Sans Cyrl 900';

$avenir-300: 'AvenirNextCyr Light';
$avenir: 'AvenirNextCyr Regular';
$avenir-500: 'AvenirNextCyr Medium';
$avenir-700: 'AvenirNextCyr Bold';

/* COLORS */
$black: #000c18;
$gray: #bcbfc2;
$blue: #3c9ce3;

/* TIMING MOTION */

