mixin form(inputs, action, btnLabel)
  form(action=action)
    each input in inputs
      .form-group
        input(
          type=input.type
          class="form-control"
          id=input.id
          name=input.id
          placeholder=input.placeholder
          required=input.required
        )/

    button(type="submit" class="btn btn-primary") #{btnLabel}

