.header {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  padding: 40px 25px 30px;
  transition: all 0.5s ease-in-out;

  &.is-collapsed {
    width: 220px;

    .header__logo {
      display: block;

      &_minimized {
        display: none;
      }
    }

    .header__link {
      img {
        margin-right: 15px;
      }
    }

    .header__collapse {
      img {
        transform: rotate(-180deg);
      }

      span {
        display: block;
      }
    }
  }

  &__wrap {
    width: 170px;
    height: 100%;
  }

  &__logo {
    display: none;
    width: 140px;
    height: 32px;
    margin-bottom: 65px;

    &_minimized {
      display: block;
      width: 32px;
      height: 32px;
      margin-bottom: 65px;
    }
  }

  &__links-list {
    display: flex;
    flex-direction: column;
  }

  &__link-item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 25px;
      margin-right: 30px;
      transition: all 0.5s ease-in-out;
    }

    span {
      color: $black;
      font-family: $avenir;
      font-size: 16px;
    }
  }

  &__collapse {
    left: 50%;
    z-index: 1;
    width: 24px;
    bottom: 30px;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);

    img {
      transition: all 0.5s ease-in-out;
    }

    span {
      color: $gray;
      display: none;
      margin-left: 10px;
      font-family: $avenir;
    }
  }
}
