.inputs {
  padding: 0 40px;
  margin-bottom: 40px;

  &__title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    .input-file {
      margin-bottom: 0;

      .form-label {
        color: $blue;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 0;
        font-family: $museo;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-family: $museo;
  }

  &__photo-preview {
    position: relative;
    overflow: hidden;

    &_small {
      width: 130px;
      height: 130px;
      margin-right: 10px;
      border-radius: 6px;

      .inputs__photo-actions {
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        padding: 10px;
        display: flex;
        position: absolute;
        justify-content: flex-end;
        border-radius: 6px 6px 0 0;
        transition: all 0.6s ease-in-out;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);

        .action-btn {
          padding: 0;
          width: auto;
          height: auto;
          border: none;
          cursor: pointer;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &_big {
      width: 100%;
      height: 315px;
      border-radius: 16px;

      .inputs__photo-actions {
        bottom: 0;
        padding: 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .action-btn {
        width: 170px;
        height: 40px;
        display: flex;
        border-radius: 6px;
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;

        &:last-child {
          margin-bottom: 0;
        }

        &.view {
          border: 1px solid #fff;

          span {
            color: #fff;
          }
        }

        &.delete {
          border: 1px solid red;

          span {
            color: red;
          }
        }
        
        &.edit {
          border: 1px solid $blue;
  
          span {
            color: $blue;
          }
        }

        img {
          margin-right: 10px;
        }
      }
    }

    &:hover {
      .inputs__photo-actions {
        opacity: 1;
      }
    }
  }

  &__photo-actions {
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: flex;
    position: absolute;
    transition: all 0.6s ease-in-out;

    .action-btn {
      padding: 0;
      cursor: pointer;
      background-color: transparent;

      span, label {
        font-family: $museo;
        margin-bottom: 0;
      }

      img {
        width: auto;
        height: auto;
        max-width: 20px;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
    }
  }
}

.btn-adds-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-add-blocks {
  color: $blue;
  font-size: 16px;
  margin-bottom: 0;
  font-family: $museo;
  margin-right: 30px;
  
  &:last-child {
    margin-right: 0;
  }
}

.form-group {
  margin-bottom: 0;
  
  &.vertical {
    margin-bottom: 15px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &.text-area {
    .form-control {
      resize: none;
      height: auto;
    }
  }
  
  &.add-file {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 255px;
    border-radius: 6px;
    border: 2px solid $blue;
    
    .add-icon {
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;
      margin-bottom: 0;
      
      span {
        top: 50%;
        display: block;
        position: absolute;
        border-radius: 4px;
        height: 5px;
        width: 100%;
        background-color: $blue;
        transform: translateY(-50%);
        
        &:nth-child(2) {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }
}

.custom-select {
  -webkit-appearance: none;
  padding: 15px 20px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  color: $black;
  font-size: 16px;
  line-height: normal;
  cursor: pointer;
}

.form-control {
  display: flex;
  border: none;
  height: 50px;
  color: $black;
  padding: 15px 20px;
  border-radius: 6px;
  align-items: center;
  background-color: #fff;
  justify-content: flex-start;
  
  &::placeholder {
    color: $gray;
    font-size: 16px;
  }
}
