.photo-modal {
  .modal-dialog {
    max-width: 800px;
  }

  .modal-content {
    border: none;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
  }

  .modal-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    padding: 20px;
    border-bottom: 0;
    position: absolute;
    justify-content: flex-end;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .close-btn {
    padding: 0;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    background-color: transparent;

    span {
      top: 50%;
      left: 50%;
      height: 2px;
      width: 25px;
      display: block;
      position: absolute;
      background-color: #fff;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal-photo-image {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
    }
  }
}
