.table-wrap {
  overflow: auto;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  height: calc(100vh - 195px);
}

.table {
  margin-bottom: 0;

  thead {
    th {
      top: 0;
      padding: 20px;
      border-top: 0;
      position: sticky;
      border-bottom: none;
      background-color: #fff;

      &:first-child {
        padding-left: 40px;
      }

      &:last-child {
        padding-right: 40px;
      }
    }

    .form-group {
      display: flex;
      margin-bottom: 0;
      align-items: center;

      img {
        width: 12px;
        margin-right: 5px;
      }
    }

    .form-control {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      border: none;
      color: $black;
      min-width: 90px;
      font-size: 16px;
      line-height: 22px;
      outline: none !important;
      box-shadow: none !important;
      background-color: transparent;

      &::placeholder {
        color: #8f9398;
      }
    }

    p {
      color: #8f9398;;
      font-size: 16px;
      line-height: 22px;
    }
  }

  tbody {
    overflow: auto;

    td {
      padding: 20px 20px 30px;

      &:first-child {
        padding-left: 40px;
      }

      &:last-child {
        padding-right: 40px;
      }
    }
  }

  &__image {
    width: 140px;
    overflow: hidden;
    border-radius: 6px;

    img {
      object-fit: cover;
    }
  }

  &__text {
    p {
      width: 100%;
      max-width: 450px;
      font-size: 16px;
      overflow: hidden;
      line-height: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.dropdown-btn {
  width: 20px;
  height: auto;
  margin: 0 auto;
  font-size: unset;
  border-radius: 0;
  box-shadow: none !important;
  
  &:after {
    display: none;
  }
}

.dropdown-menu {
  padding: 0;
  border: none;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 12, 24, 0.1);
  
  &:before {
    content: '';
    width: 0;
    height: 0;
    right: 65px;
    top: -8px;
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent transparent #fff transparent;
  }
}

.dropdown-item {
  font-size: 16px;
  padding: 15px 90px 15px 20px;
  border-bottom: 1px solid #e6e6e6;
  
  &.delete {
    color: #ff0000;
  }
  
  &:active {
    color: $black;
    background-color: transparent;
  }
  
  &:last-child {
    border-bottom: none;
  }
}

.table-footer {
  width: 100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: flex-end;

  &__page-count {
    display: flex;
    margin-right: 20px;
    align-items: center;

    p {
      color: #9e9e9e;
      font-size: 16px;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__nav-wrap {
    display: flex;
    margin-right: 40px;
    align-items: center;
  }

  &__arrow {
    margin-right: 40px;

    &_prev {

    }

    &_next {
      margin-right: 0;

      img {
        transform: rotate(-180deg);
      }
    }

    img {
      width: 11px;
    }
  }
}
