extends includes/layout

block vars
  - const title = 'Admin | Certificates'

append content
  main#certificates-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Сертификаты
            .btn-wrap
              button.btn.btn-primary.d-none(type="submit") Сохранить
              .form-group
                label.btn.btn-outline-primary(for="certificate-photo") Добавить сертификат
                input.form-control-file(type="file" accept="image/*" multiple id="certificate-photo"
                  data-img-size="big" data-img-type="certificate")
        .col-12
          .row.photos-wrap
            .col-3.mb-4
              .inputs__photo-preview.mb-3.inputs__photo-preview_big
                .inputs__photo-actions
                  .form-group
                    label.action-btn.edit(for="edit-photo-1")
                      img.icon-action(src="img/icons/EditIcon.svg" alt="Edit")
                      span Редактировать
                    input.edit(type="file" accept="image/*" id="edit-photo-1")
                  button.action-btn.delete
                    img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                    span Удалить
                .inputs__photo
                  img(src="img/DefaultImage.png" alt="Default image")
              .form-group
                input.form-control(type="text" name="certificate-name-1" placeholder="Название сертификата")
            .col-3.mb-4
              .inputs__photo-preview.mb-3.inputs__photo-preview_big
                .inputs__photo-actions
                  .form-group
                    label.action-btn.edit(for="edit-photo-2")
                      img.icon-action(src="img/icons/EditIcon.svg" alt="Edit")
                      span Редактировать
                    input.edit(type="file" accept="image/*" id="edit-photo-2")
                  button.action-btn.delete
                    img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                    span Удалить
                .inputs__photo
                  img(src="img/DefaultImage.png" alt="Default image")
              .form-group
                input.form-control(type="text" name="certificate-name-2" placeholder="Название сертификата")