extends includes/layout
include mixins/inputText

block vars
  - const title = 'Admin | Contacts'

append content
  main#contacts-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Контакты
            .btn-wrap
              button.btn.btn-primary(type="submit") Изменить
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Соц. сети
            .row
              .col-4
                +inputText('text', 'instagram', 'Instagram')
              .col-4
                +inputText('text', 'linkedin', 'LinkedIn')
              .col-4
                +inputText('text', 'facebook', 'Facebook')
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Данные
            .row
              .col-4
                +inputText('text', 'phone-1', 'Номер телефона 1')
              .col-4
                +inputText('text', 'phone-2', 'Номер телефона 1')
              .col-4
                +inputText('text', 'address', 'Адрес')