extends includes/layout
include mixins/photoModal

block vars
  - const title = 'Admin | Fleet create'

append content
  main#fleet-create-page
    form.container.main-form(action="/")
      .row
        .col-12
          .page-title-row
            h1.page-title Создание флота
            .btn-wrap
              a.btn.btn-outline-primary(href="/fleet.html") Отмена
              button.btn.btn-primary(type="submit") Создать флот
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Фото
              .form-group.input-file
                label.form-label(for="photos") Добавить фото
                input.form-control-file(type="file" multiple accept="image/*" id="photos" name="photos" data-img-size="small")
            .row.photos-wrap
              // Small images
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Данные
            .row
              .col-6
                .form-group
                  input.form-control(type="text" name="title" placeholder="Заголовок")
              .col-6
                .form-group
                  input.form-control(type="text" name="sub-title" placeholder="Подзаголовок")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Фото
              a.btn-add-blocks(href="javascript:void[0]") Добавить описание
            .row
              .col-4.mb-3
                .form-group.vertical
                  input.form-control(type="text" name="description-title-1" placeholder="Заголовок")
                .form-group.vertical.text-area
                  textarea.form-control(name="description-1" rows="6" placeholder="Подзаголовок")
              .col-4.mb-3
                .form-group.vertical
                  input.form-control(type="text" name="description-title-2" placeholder="Заголовок")
                .form-group.vertical.text-area
                  textarea.form-control(name="description-2" rows="6" placeholder="Подзаголовок")
              .col-4.mb-3
                .form-group.vertical
                  input.form-control(type="text" name="description-title-3" placeholder="Заголовок")
                .form-group.vertical.text-area
                  textarea.form-control(name="description-3" rows="6" placeholder="Подзаголовок")

append footer_content
  +photoModal('photo-modal')