extends includes/layout

block vars
  - const title = 'Admin | Fleet'

append content
  main#fleet-page
    .container
      .row
        .col-12
          .page-title-row
            h1.page-title Наш флот
            .btn-wrap
              a.btn.btn-outline-primary(href="/fleet-create.html") Создать флот
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                    p Фото
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Заголовок")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-sub-name" placeholder="Подзаголовок")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-description" placeholder="Описание")
                  th(scope="col")
                    p Действие
              tbody
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Rolo
                  td
                    .table__text
                      p M/V FLEET LEADER 2000
                      p M/V GLOBAL CARRIER 2000
                      p M/V WORLD CARRIER 1999
                      p M/V FLEET STAR 1998
                  td
                    .table__text
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Rolo
                  td
                    .table__text
                      p M/V FLEET LEADER 2000
                      p M/V GLOBAL CARRIER 2000
                      p M/V WORLD CARRIER 1999
                      p M/V FLEET STAR 1998
                  td
                    .table__text
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить

                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Rolo
                  td
                    .table__text
                      p M/V FLEET LEADER 2000
                      p M/V GLOBAL CARRIER 2000
                      p M/V WORLD CARRIER 1999
                      p M/V FLEET STAR 1998
                  td
                    .table__text
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Rolo
                  td
                    .table__text
                      p M/V FLEET LEADER 2000
                      p M/V GLOBAL CARRIER 2000
                      p M/V WORLD CARRIER 1999
                      p M/V FLEET STAR 1998
                  td
                    .table__text
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Rolo
                  td
                    .table__text
                      p M/V FLEET LEADER 2000
                      p M/V GLOBAL CARRIER 2000
                      p M/V WORLD CARRIER 1999
                      p M/V FLEET STAR 1998
                  td
                    .table__text
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                      p M/V FLEET STAR 1998: 126,84 X 20,0 X 6,7 m; TYPE: RO-RO/LO-LO Multipurpos
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
          .table-footer
            .table-footer__page-count
              p 1
              p из
              p 50
            .table-footer__nav-wrap
              a.table-footer__arrow.table-footer__arrow_prev(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
              a.table-footer__arrow.table-footer__arrow_next(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")