extends includes/layout
include mixins/form

block vars
  - const isLogin = true
  - const title = 'Admin | Login'
  - const inputs = [{ type: 'email', id: 'email', placeholder: 'Почта', required: true },{ type: 'password', id: 'password', placeholder: 'Пароль', required: true }]

append content
  main#login-page
    section.login-section
      .container.login-container
        .row
          .col-4.offset-4
            .logo-wrap
              img(src="img/logo.svg" alt="Logo")
            h1.section-title Логин
            +form(inputs, '/', 'Войти')
            a(href="/fleet.html" class="link") Go to fleet