extends includes/layout

block vars
  - const title = 'Admin | News create'

append content
  main#news-create-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Создание новости
            .btn-wrap
              a.btn.btn-outline-primary(href="/news.html") Отмена
              button.btn.btn-primary(type="submit") Создать новость
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Данные
            .row
              .col-9
                .form-group
                  input.form-control(type="text" name="title" placeholder="Заголовок")
              .col-3
                .form-group.select
                  select.custom-select(id="topic-select")
                    option(selected) Топик
                    option(value="1") Topic 1
                    option(value="2") Topic 2
                    option(value="3") Topic 3
              .col-12.mt-3
                .form-group.text-area
                  textarea.form-control(name="news-text" rows="6" placeholder="Текст новости")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Фото
              .btn-adds-wrap
                a.btn-add-blocks.add-news-block(href="javascript:void[0]") Добавить блок
            .row.mb-5.news-row
              .col-12
                .row.photos-wrap
                  .col-3.mb-4
                    .form-group.add-file
                      label.add-icon(for="news-photos-99")
                        span
                        span
                      input.form-control-file(type="file" accept="image/*" multiple
                      id="news-photos-99" data-img-size="big" data-img-type="news")
                  .col-12
                    .form-group.text-area
                      textarea.form-control(name="news-text-99" rows="6" placeholder="Текст новости")