extends includes/layout

block vars
  - const title = 'Admin | News'

append content
  main#news-page
    .container
      .row
        .col-12
          .page-title-row
            h1.page-title Новости
            .btn-wrap
              a.btn.btn-outline-primary(href="/news-create.html") Создать новость
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                    p Фото
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Дата и топик")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-sub-name" placeholder="Заголовок")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-description" placeholder="Описание")
                  th(scope="col")
                    p Действие
              tbody
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p 10 апр 2020, в 17:00
                      p Our team
                  td
                    .table__text
                      p We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  td
                    .table__text
                      p
                        | Nibh sed pulvinar proin gravida hendrerit lectus. Sit amet commodo nulla facilisi nullam vehicula.
                        | Dolor morbi non arcu risus quis varius quam quisque id. Non consectetur a erat nam at lectus.
                        | A iaculis at erat pellentesque adipiscing commodo.
                        | Eu facilisis sed odio morbi. Nulla facilisi cras fermentum odio eu feugiat. Eleifen…
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          a.dropdown-item(href="#") Редактировать
                          a.dropdown-item(href="#") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p 10 апр 2020, в 17:00
                      p Our team
                  td
                    .table__text
                      p We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  td
                    .table__text
                      p
                        | Nibh sed pulvinar proin gravida hendrerit lectus. Sit amet commodo nulla facilisi nullam vehicula.
                        | Dolor morbi non arcu risus quis varius quam quisque id. Non consectetur a erat nam at lectus.
                        | A iaculis at erat pellentesque adipiscing commodo.
                        | Eu facilisis sed odio morbi. Nulla facilisi cras fermentum odio eu feugiat. Eleifen…
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          a.dropdown-item(href="#") Редактировать
                          a.dropdown-item(href="#") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p 10 апр 2020, в 17:00
                      p Our team
                  td
                    .table__text
                      p We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  td
                    .table__text
                      p
                        | Nibh sed pulvinar proin gravida hendrerit lectus. Sit amet commodo nulla facilisi nullam vehicula.
                        | Dolor morbi non arcu risus quis varius quam quisque id. Non consectetur a erat nam at lectus.
                        | A iaculis at erat pellentesque adipiscing commodo.
                        | Eu facilisis sed odio morbi. Nulla facilisi cras fermentum odio eu feugiat. Eleifen…
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          a.dropdown-item(href="#") Редактировать
                          a.dropdown-item(href="#") Отключить
                          button.dropdown-item.delete(type="button") Удалить
          .table-footer
            .table-footer__page-count
              p 1
              p из
              p 50
            .table-footer__nav-wrap
              a.table-footer__arrow.table-footer__arrow_prev(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
              a.table-footer__arrow.table-footer__arrow_next(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")