extends includes/layout
include mixins/photoModal

block vars
  - const title = 'Admin | Partners'

append content
  main#partners-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Партнеры
            .btn-wrap
              button.btn.btn-primary.d-none(type="submit") Сохранить
              .form-group
                label.btn.btn-outline-primary(for="slider-photo") Добавить партнера
              input.form-control-file(type="file" accept="image/*" multiple id="slider-photo" data-img-size="small"
                data-img-type="partners")
        .col-12
          .row.photos-wrap
            .col-3.mb-5
              .inputs__photo-preview.inputs__photo-preview_small
                .inputs__photo-actions
                  button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                    img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                  .form-group.action-btn.edit
                    label(for="edit-photo-1")
                      img.icon-action(src="img/icons/EditIcon.svg" alt="Edit")
                    input.edit(type="file" accept="image/*" id="edit-photo-1")
                  button.action-btn.delete
                    img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                .inputs__photo
                  img(src="img/DefaultImage.png" alt="Default image")

append footer_content
  +photoModal('photo-modal')