extends includes/layout

block vars
  - const title = 'Admin | Projects'

append content
  main#projects-page
    .container
      .row
        .col-12
          .page-title-row
            h1.page-title Проекты
            .btn-wrap
              a.btn.btn-outline-primary(href="/projects-create.html") Создать проект
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                    p Фото
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Заголовок")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="description" placeholder="Описание")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="numbers" placeholder="Цифры")
                  th(scope="col")
                    p Действие
              tbody
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
          .table-footer
            .table-footer__page-count
              p 1
              p из
              p 50
            .table-footer__nav-wrap
              a.table-footer__arrow.table-footer__arrow_prev(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
              a.table-footer__arrow.table-footer__arrow_next(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")