extends includes/layout
include mixins/photoModal

block vars
  - const title = 'Admin | Projects create'

append content
  main#projects-create-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Создание проекта
            .btn-wrap
              a.btn.btn-outline-primary(href="/projects.html") Отмена
              button.btn.btn-primary(type="submit") Создать проект
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Фото
              .form-group.input-file
                label.form-label(for="photos") Добавить фото
                input.form-control-file(type="file" multiple accept="image/*" id="photos" name="photos" data-img-size="small")
            .row.photos-wrap
              // Small images
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Данные
            .row
              .col-12.mb-3
                .form-group.vertical
                  input.form-control(type="text" name="title" placeholder="Заголовок")
              .col-12.mb-3
                .form-group.vertical.text-area
                  textarea.form-control(name="description" rows="6" placeholder="Описание")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Цифры
            .row
              .col-3
                .form-group.vertical
                  input.form-control(type="text" name="title-1" placeholder="Заголовок")
                .form-group.vertical.text-area
                  input.form-control(type="text" name="number-2" placeholder="Цифра")
              .col-3
                .form-group.vertical
                  input.form-control(type="text" name="title-2" placeholder="Заголовок")
                .form-group.vertical
                  input.form-control(type="text" name="number-2" placeholder="Цифра")
              .col-3
                .form-group.vertical
                  input.form-control(type="text" name="title-3" placeholder="Заголовок")
                .form-group.vertical
                  input.form-control(type="text" name="number-3" placeholder="Цифра")
              .col-3
                .form-group.vertical
                  input.form-control(type="text" name="title-4" placeholder="Заголовок")
                .form-group.vertical
                  input.form-control(type="text" name="number-4" placeholder="Цифра")

append footer_content
  +photoModal('photo-modal')