extends includes/layout

block vars
  - const title = 'Admin | Sliders'

append content
  main#sliders-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Слайдер
            .btn-wrap
              button.btn.btn-primary.d-none(type="submit") Сохранить
              .form-group
                label.btn.btn-outline-primary(for="slider-photo") Добавить фото
                input.form-control-file(type="file" accept="image/*" multiple id="slider-photo" data-img-size="big")
        .col-12
          .row.photos-wrap
            .col-4.mb-4
              .inputs__photo-preview.inputs__photo-preview_big
                .inputs__photo-actions
                  .form-group
                    label.action-btn.edit(for="edit-photo-1")
                      img.icon-action(src="img/icons/EditIcon.svg" alt="Edit")
                      span Редактировать
                    input.edit(type="file" accept="image/*" id="edit-photo-1")
                  button.action-btn.delete
                    img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                    span Удалить
                .inputs__photo
                  img(src="img/DefaultImage.png" alt="Default image")